*{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}
header{
    background-color: rgb(248, 237, 227);
    color: rgb(141, 73, 58);
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
}
header button{
    width: 80px;
    height: 40px;
    border-radius: 15%;
    margin: 15px;
}
.banner{
    background-image: url(https://static.vecteezy.com/system/resources/previews/004/288/148/non_2x/sale-banner-poster-flyer-design-with-pattern-on-dark-black-canvas-and-grunge-texture-background-modern-design-backdrop-template-for-advertisement-social-and-fashion-ads-free-vector.jpg);
    width: 1520px;
    height: 800px;
    background-size: cover;
}
section{
    background-color: black;
    color: rgb(248, 237, 227);
    padding: 10px;
    text-align: center;

}

.row{
    width: 100px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.col{
    margin: 10px;
    background-color: gray;
    width: 300px;
    height: 430px;
    align-items: center;
    color: aliceblue;
    border-radius: 10px;
    padding: 10px;

}
img{
    padding-top: 10px;
    border-radius: 30px;

   
}
section span{
    color: greenyellow;
    font-size: 20px;
}
img:hover{
    box-shadow: 2px 4px black;
    
}
section button{
    background-color: rgb(35, 171, 171);
    height: 40px;
    width: 100px;
    margin:10px ;
    color: aliceblue;

    border-radius: 10px;
    font-size: 15px;
}
section button:hover{
background-color: aliceblue;
color:rgb(35, 171, 171) ;
}
footer{
    background-color: rgb(32, 31, 31);
    color: rgb(248, 244, 225);
    display: flex;
    justify-content: space-around;
    height: 150px;
    padding-top: 10px;
}
footer h4{
    color: rgb(35, 171, 171);
}